.blogs{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 20%;
}

.blog-container{
    background: rgb(167, 226, 220);
    border: 3px solid black;
    border-radius: 5px;
    padding: 29px;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    width: 90%;
}

.blog-container a{
    text-decoration: none;
    color:black
}

.blog-container:hover{
    background: rgb(240, 162, 201);
}

.blogs .active{
    background: rgb(206, 206, 206);
    border: 3px solid black;
    border-radius: 5px;
    padding: 29px;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    width: 90%;
    cursor: default;
}

article{
    width: 80%;
}

p{
    padding-bottom: 5px;
}

main{
    display: flex;
}

.list-item{
    padding-bottom: 25px;
}

.artist{
    text-align: center;
    margin-left: 500px;
}

.folder-structure{
    width: 350px; 
    height: 340px;
}

.big-image{
    width: 500px;
    height: 300px;
}

.small-image{
    width: 500px;
    height: 100px;
}

.mind-map{
    width: 1050px;
    height: 650px;
}

.mind-map2{
    width: 850px;
    height: 450px;
}

.mind-map3{
    width: 600px;
    height: 400px;
}

.website-images{
    width: 650px;
    height: 350px;
}

.reference-image{
    width: 250px;
    height: 250px;
}