/*Adding space between each list item*/
.list-item2{
    padding-bottom: 15px;
}

/*Centering all the titles*/
.title{
    text-align: center;
}

/*Styling for the sub nav menu*/
.sub-nav ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
}

.sub-nav ul li{
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    background: rgb(167, 226, 220);
}

.sub-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sub-nav ul li:hover
{
    background-color: rgb(240, 162, 201);
}

.sub-nav li.active
{
    background: rgb(206, 206, 206);
    font-weight: bold;
}

.sub-nav li.active:hover
{
    background: rgb(206, 206, 206);
    font-weight: bold;
}

/*Styling for all the design elements*/
.wireframe{
    text-align: center;
}

.list-item{
    padding-bottom: 25px;
}

.desktop-wireframe{
    width: 950px;
    height: 650px;
    margin-left: 50px;
}

.mobile-wireframe{
    width: 330px; 
    height: 650px;
}

.mind-map{
    width: 1300px;
    height: 800px;
}

.colours{
    width: 350px; 
    height: 200px;
}

.colour-use{
    padding-bottom: 50px;
}

.overview{
    margin-top: 10px;
    padding-bottom: 50px;
    width: 1300px;
    height: 650px;
}

.overview2{
    margin-top: 10px;
    width: 1300px;
    height: 650px;
}

.font-image{
    width: 325px;
    height: 400px;
}

.font-image2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.google-image{
    width: 910px;
    height: 400px;
}

.font-images{
    display: flex;
    gap: 45px;
    margin-bottom: 30px;
}

.font-images2{
    display: flex;
    gap: 45px;
    margin-left: 100px;
    margin-bottom: 40px;
}

.responsive3{
    margin-left: 100px;
}


.centre-text{
    text-align: center;
}

/*Styling for the "Back To Top" button*/
.top{
    background: rgb(167, 226, 220);
    border: 3px solid black;
    border-radius: 5px;
    margin-left: 850px;
    padding: 25px;
    font-size: 25px;
    text-align: center;
    width: 200px;
}

.top2{
    background: rgb(167, 226, 220);
    border: 3px solid black;
    border-radius: 5px;
    padding: 25px;
    margin-left: 540px;
    font-size: 25px;
    text-align: center;
    width: 200px;
}

.top3{
    background: rgb(167, 226, 220);
    border: 3px solid black;
    border-radius: 5px;
    padding: 25px;
    margin-left: 590px;
    font-size: 25px;
    text-align: center;
    width: 200px;
}

.wireframes{
    display: flex;
    gap: 10px;
}

/*Media query for scaling down the images and the "Back To Top" button on a small screen: 360x740 size*/
@media(max-width: 700px){

    main{
        margin-left: 15px;
    }
    .responsive img{
        width: 100%;
        height: 100%;
    }

    .top{
        margin-left: 60px;
        width: 100px;
        height: 50px;
        padding: 0;
        font-size: small;
        font-weight: bold;
    }

    .top2{
        margin-left: 60px;
        width: 100px;
        height: 50px;
        padding: 0;
        font-size: small;
        font-weight: bold;
    }

    .h-entry{
        width: 220px;
    }
}

/*Scale down the image when the screen is 1024x642*/
@media(max-width: 1024px){
    .responsive2 img{
        width: 100%;
        height: 100%;
    }

    .responsive3 img{
        width: 20%;
        height: 20%;
    }
    
    .responsive4 img{
        width: 200px;
        height: 190px;
    }

    .font-images{
        display: flex;
        flex-direction: row;
    }

    .side-by-side{
        display: block;
    }

    .info{
        margin: 0;
    }

    .top{
        margin-left: 300px;
    } 
    
    .top2{
        margin-left: 300px;
    }
}