/*Making the essay appear as a two side-by-side pages*/
.essay{
    display: flex;  
    flex-wrap: wrap;
}

/*Styling for the sub nav menu*/
.sub-nav ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
}

.sub-nav ul li{
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    background: rgb(167, 226, 220);
}

.sub-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sub-nav ul li:hover
{
    background-color: rgb(240, 162, 201);
}

.sub-nav li.active
{
    background: rgb(206, 206, 206);
    font-weight: bold;
}

.sub-nav li.active:hover
{
    background: rgb(206, 206, 206);
    font-weight: bold;
}

/*Styling for the actual essay and each of its elements*/
section{
    text-align: justify;
    background: rgb(230, 222, 185);
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px; 
    width: 600px;  
}

p{
    padding-bottom: 25px;
}

.move{
    width: 300px; 
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.move2{
    width: 400px;
    height: 155px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.essay-wrap{
    width: 95%;
}

.essay-image{
    width: 600px;
    height: 450px;
}

.essay-image2{
    width: 600px;
    height: 70px;
}

/*Styling for the essay refrences block*/
.essay-references{
    background: rgb(206, 206, 206);
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;    
    border-bottom: 1px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -53px;
    line-height: 1.5;
    width: 109%;
}

.list-item{
    padding-bottom: 25px;
}

h2{
    padding-bottom: 25px;
}

/*Centering the "Back To Top" button*/
.back-to-top{
    margin-left: 210px;
}

/*Media query for the essays on a small screen*/
@media(max-width: 700px){

    .essay-wrap{
        width: 85%;
    }

    .page1, .page2{
        width: 250px;
        margin-left: -45px;
    }

    .essay-references{
        display: none;
    }

    .sub-nav{
        margin-left: -90px;
    }
}

/*Media query for the essays on a medium screen: 1024x642 size*/
@media(max-width: 1024px){
    
    .page1, .page2{
        margin: auto;
    }
}
