.essay{
    display: flex;  
}

.sub-nav ul{
    display: flex;
    font-size: 20px;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
}

.sub-nav ul li{
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    background: rgb(167, 226, 220);
}

.sub-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sub-nav ul li:hover
{
    background-color: rgb(240, 162, 201);
}

.sub-nav li.active
{
    background: rgb(206, 206, 206);
    font-weight: bold;
}

.sub-nav li.active:hover
{
    background: rgb(206, 206, 206);
    font-weight: bold;
}

section{
    text-align: justify;
    background: rgb(230, 222, 185);
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px; 
    width: 600px;  
}

p{
    padding-bottom: 25px;
}

.move{
    margin-left: 150px;
}

.move2{
    margin-left: 100px;
}

.essay-references{
    background: rgb(206, 206, 206);
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;    
    border-bottom: 1px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -53px;
    line-height: 1.5;
    width: 109%;
}