
html{
    background:rgb(209, 182, 235);
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    font-size: 13pt;
}

.logo{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 60px;
}

.main-nav ul{
    display: flex;
    border-radius: 10px;
    font-size: 20px;
    list-style-type: none;
    justify-content: right;
    margin-right: 60px;
    margin-bottom: 60px;
    gap: 10px;
}

.main-nav ul li{
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    background: rgb(240, 162, 201);
}

.main-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main-nav ul li:hover{
    background: rgb(167, 226, 220);
}

.main-nav li.active{
    background: rgb(228, 190, 171);
    font-weight: bold;
}

.main-nav li.active:hover{
    background: rgb(228, 190, 171);
    font-weight: bold;
}

h1{
    text-align: center;
}

main{
    margin-left: 50px;
    margin-right: 50px;
    line-height: 25px;
}

.h-entry{
    text-align: justify;
    background: rgb(230, 222, 185);
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px; 
}

.spacing{
    padding-bottom: 25px;
}

.side-by-side{
    display: flex;
}

.info{
    margin-left: 40px;
}

.references{
    background: rgb(206, 206, 206);
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;    
    border-bottom: 1px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -52px;
    line-height: 1.5;
    width: 105%;
}

button{
    background: rgb(228, 190, 171);
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    font-size: 13pt;
    border: 3px solid black;
    border-radius: 50%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button-container{
    display: flex;
    gap: 10px;
    justify-content: center;
}

footer{
    background:rgb(240, 162, 201);
    border-top: 3px solid black;
    padding-bottom: 1%;
    padding-top: 1%;
    margin: -8px;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
