.container{
    display: flex;
}

.about{
    background: rgb(230, 222, 185);
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px; 
    margin-left: 10px;
    text-align: justify;
}


