/*Styling the sub nav menu*/
.sub-nav ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
}

.sub-nav ul li{
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    background: rgb(167, 226, 220);
}

.sub-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sub-nav ul li:hover
{
    background-color: rgb(240, 162, 201);
}

.sub-nav li.active
{
    background: rgb(206, 206, 206);
    font-weight: bold;
}

.sub-nav li.active:hover
{
    background: rgb(206, 206, 206);
    font-weight: bold;
}

/*Laying out the elements in this class side by side*/
.container{
    display: flex;
    flex-wrap: wrap;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    margin-left: 170px;
    gap: 190px;
    padding-top: 50px;
}

/*Styling the "About" section*/
.about{
    background: rgb(230, 222, 185);
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px; 
    margin-left: 30px;
    text-align: justify;
    width: 700px;
}

/*Centre the text*/
.centre-text{
    text-align: center;
}

/*Styling the "Contact Me" form*/
.contact{
    background-color: rgb(206, 206, 206);
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px; 
    margin-left: 50px;
    text-align: justify;
    width: 745px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: large; 
    background-color: rgb(206, 206, 206);
    width: 97%;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    resize: vertical;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: rgb(167, 226, 220);
    border: solid black;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(240, 162, 201);
}

#responseMessage {
    margin-top: 10px;
    color: rgb(149, 14, 149);
}

/*Styling for the social media icons*/
.socials{
    width: 100px;
    height: 100px;
}

.socials-images{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    gap: 50px;
    margin-left: 60px;
}

.socials-images2{
    display: flex;
    padding-top: 5px;
    padding-bottom: 25px;
    gap: 50px;
    margin-left: 500px;
}

/*Styling for my profile image*/
.u-photo{
    margin-left: 80px;
    width: 460px;
    height: 440px;
}

/*Layout for the artworks*/
.art{
    display: flex;
    margin-left: 0;
    gap: 15px;
    margin-bottom: 50px;
}

.art2{
    display: flex;
    margin-left: 10px;
    gap: 15px;
    margin-bottom: 50px;
}

.t-art{
    margin-left: 170px;
}

.d-art{
    margin-left: 0;
}

.g-art{
    margin-left: 90px;
}

/*Layout for the "read more" tabs*/
.read-more{
    background: rgb(167, 226, 220);
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 58%;
    margin-left: 20%;
    cursor: pointer;
}

.read-more-1{
    background: rgb(167, 226, 220);
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 30%;
    margin-left: 61%;
    cursor: pointer;
}

.read-more-2{
    background: rgb(167, 226, 220);
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 30%;
    margin-left: 42%;
    cursor: pointer;
}

.read-more1{
    text-align: justify;
    margin-left: 40px;
    list-style: none;
    padding-bottom: 5%;
    cursor: pointer;
}

.read-more2{
    text-align: justify;
    margin-left: -15px;
    list-style: none;
    padding-bottom: 5%;
    cursor: pointer;
}

/*Scaling the images of the artworks*/
.artwork{
    width: 350px; 
    height: 500px;
}

.artwork2{
    width: 800px; 
    height: 500px;
    margin-left: 150px;
}

.digital-artwork{
    width: 700px; 
    height: 400px;
}

.digital-artwork1{
    margin-left: 25%;
    width: 900px; 
    height: 450px;
}

.digital-artwork2{
    width: 460px; 
    height: 250px;
}

.digital-artwork3{
    margin-left: 25%;
    width: 900px; 
    height: 600px;
}

/*Scaling the videos for the games*/
.video{
    width: 600px;
    height: 365px;
    margin-left: 25px;
    margin-top: -15px;
}

/*Move the animation video to a certain part of the page*/
.anim-video{
    margin-left: 215px;
    width: 1000px;
    border: 3px solid black;
}

/*Scaling the images for the games*/
.game{
    width: 600px;
    height: 350px;
}

/*Move the "Back To Top" button to a certain part of the page*/
.back-to-top{
    margin-left: 620px;
}

/*Centre the sub heading*/
.sub-heading{
    text-align: center;
    padding-bottom: 10px;
}

.sub-heading2{
    margin-left: 480px;
    padding-top: 100px;
    padding-bottom: 10px;
}

/*Responsive Design for the Portfolio on Smartphones*/
@media(max-width: 767px){
    .art{
        display: block;
        margin-left: -25px;
    }

    .read-more{
        margin-bottom: 25px;
        margin-left: 50px;
    }

    .videos{
    display: none;    
    }

    .profile-image img{
        width: 100%;
        height: 80%;
    }

    .profile{
        margin-left: -10px;
        margin-right: 10px;
    }
}

/*Responsive Design for the Portfolio on Small Laptops*/
@media(max-width: 1024px){

    .about{
        width: 350px;
    }

    .art{
        margin: 0;
    }

    .artwork{
        width: 100%;
        height: 80%;
    }

    video{
        width: 270px;
    }

    .videos{
        margin-left: 0;
    }
}