/* The three form factors that I have created responsiveness for are smartphones, tablets, and small laptops.
   The sizes are: 470 x 815 for phones, 767 x 922 for tablets, and 1024 x 864 for small laptops.
*/

/*Scale for the homepage cards/images*/
.cards img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

@media (max-width: 1500px) {
    /*Blog cards*/
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-left: 50px;
    }
    
    /*Design, Essay & Portfolio cards*/
    .center {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: auto;   
    }

    .center2 {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-left: 10px;
    }
}

/*Responsive Design for Small Laptops*/
@media (max-width: 1024px) {

    html{
        font-size: small;
    }

    .logo{
        font-size: 40px;
    }

    .main-nav ul{
        width: 550px;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-left: 50px;
    }

    .center {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .center2 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-left: 10px;
    }

    .references{
        width: 108%;
    }
}

/*Responsive Design for Tablets*/
@media (max-width: 767px) {

    html{
        font-size: smaller;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .center {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .center2 {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media(max-width: 767px){

    .logo{
        font-size: 35px;
        margin-left: 40px;    
    }

    /*Change the layout of the elements in this class*/
    .side-by-side{
        display: block; 
    }
        
    .side-by-side img{
        width: 100%;
    }
        
    .info{
        margin-left: -3px;
    }
        
    /*Scale down the images in this class*/
    .responsive img{
        width: 100%;
        height: 100%;
    }
}

/*Responsive Design for the nav menu on Smartphones*/
@media (max-width: 470px) {

    header{
        justify-content: center;
        height: 280px;
    }

    .main-nav ul{
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 20px;
        font-size: 16px;
        gap: 5px; 
    }
    
    .main-nav ul li {
        width: 25%; 
        text-align: center;
        margin-bottom: 5px;
        margin-left: 360px;
    }
}





