/*Responsive Design*/
.cards img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

/*Large Screens: 1440x800*/
@media (max-width: 1440px) {
    /*Blog cards*/
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-left: 50px;
    }
    
    /*Design, Essay & Portfolio cards*/
    .center {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: auto;   
    }

    .center2 {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-left: 10px;
    }
}

/*Medium Screens: 1024x642*/
@media (max-width: 1024px) {

    html{
        font-size: small;
    }

    .logo{
        font-size: 40px;
    }

    .main-nav ul{
        width: 550px;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-left: 50px;
    }

    .center {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .center2 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-left: 10px;
    }

    .references{
        width: 108%;
    }
}

/*Small Screens: up to 700px*/
@media (max-width: 700px) {

    html{
        font-size: smaller;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .center {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .center2 {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media(max-width: 700px){

    .logo{
        text-align: center;
    }

    /*Change the layout of the elements in this class*/
    .side-by-side{
        display: block; 
    }
        
    .side-by-side img{
        width: 100%;
    }
        
    .info{
        margin-left: -3px;
    }
        
    /*Scale down the images in this class*/
    .responsive img{
        width: 100%;
        height: 100%;
    }
}

/*Responsive Design for the nav menu*/
@media (max-width: 768px) {
    .main-nav ul {
        flex-direction: column; 
        align-content: center;
        align-items: flex-start;
        position: static; 
        margin: 0; 
        padding: 10px; 
    }

    .main-nav ul li {
        width: 40%; 
        text-align: center;
        box-sizing: border-box; 
    }
}

